#Don't beep at me
set bell-style none

#Because this could be cool
set colored-completion-prefix on

#Do a case-insensitive filename completion
set completion-ignore-case on

#Allow a hyphen(-) to complete as an underscore(_) means not pressing shift
set completion-map-case on

#I will regret this, but set editing mode to vi
set editing-mode vi

#My one regret about vi mode
$if mode=vi

	set keymap vi-command
	# these are for vi-command mode
	Control-l: clear-screen

	set keymap vi-insert
	# these are for vi-insert mode
	Control-l: clear-screen 

$endif
