#Use system defaults
$include /etc/inputrc

#Don't beep at me
set bell-style none

#Because this is cool
set colored-completion-prefix on

#Do a case-insensitive filename completion
set completion-ignore-case on

#Allow a hyphen(-) to complete as an underscore(_) means not pressing shift
set completion-map-case on

#Don't store edited lines in history
set revert-all-at-newline on

#Set editing mode to vi
set editing-mode vi

#My one regret about vi mode
$if mode=vi

	set keymap vi-command
	# these are for vi-command mode
	Control-l: clear-screen
	# alt+l / esc+l
	"\el": clear-screen

	set keymap vi-insert
	# these are for vi-insert mode
	Control-l: clear-screen
	# alt+l / esc+l
	"\el": clear-screen

	# show (cmd) or (ins) at the beginning of the prompt
	# also have a blinking bar '|' in insert mode and a solid block '█'
	set show-mode-in-prompt on
	set vi-ins-mode-string "\1\e[33m\e[1m\2(ins)\1\e[(\e[m\e[5 q\2 "
	set vi-cmd-mode-string "\1\e[33m\e[1m\2(cmd)\1\e[(\e[m\e[2 q\2 "
	# return to normal mode before executing a command
	set keymap vi-insert
	RETURN: "\e\n"

$endif
